dialog.wide {
  width: 90%;
}

div.spacer {
  display: inline-block;
  flex-grow: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
}

legend {
  margin-inline-start: min(3vw, 10%);
}

form {
  & menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0;
    margin-block-start: 1rem;
  }
}

.adder {
  & menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0;
    margin-block-start: 1rem;
  }
}
