main.svelte-fbw3w4,form.svelte-fbw3w4{display:flex;flex-direction:column;align-items:center;justify-content:center}main.svelte-fbw3w4{margin-block-start:10vh}button.svelte-fbw3w4{margin-block-start:1.5rem}
