#datatable tr:hover {
  background-color: lightblue;
}
#datatable div.DataTables_sort_wrapper {
  position: relative;
}
#datatable th .css_right {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}
#datatable td {
  padding: .1em .5em;
}

applet {
  /*
  visibility: hidden;
  */
  position: absolute;
  width: 0;
  height: 0;
}
object[type='application/x-java-applet'] {
  visibility: hidden;
  width: 0;
  height: 0;
}

#datatable td.icon {
}
#datatable td.icon object {
  width: 100%;
  width: 1.5em;
  height: 1em;
}
ins[class='icon'][type='text/directory'] {
  /* No support for svg background images */
}


html, input, textarea {
  font-family: Helvetica;
  font-size: 13pt;
  background-color: rgb(252,250,245);
}

legend {
  float: left;
  width: 4.5em;
  text-align: right;
  margin-right: .2em;
  margin-top: .4em;
}

legend:after {
  content: ':';
}

form ul {
  padding: 0;
  margin: 0;
}

form ul {
  list-style: none;
  padding: 0;
}

input[type='submit'], form a.button {
  float: right;
  margin-right: 2em;
}

form a.button {
  position: relative;
  z-index: 1;
}

form a.button a {
  position: relative;
  z-index: 3;
  background-color: transparent;
}

form a.button object[type='image/svg+xml'] {
  position: relative;
  width: 4em;
  height: 1.5em;
  z-index: -1;
  top: .3em; /* Not sure why offset is off */
}

input[type='text'], input[type='password'] {
  width: 11em;
}

input[type='text'], input[type='password'], textarea, .wmd-preview {
  padding: .25em .5em;
}

#intro, fieldset, #error {
  border-radius: 4px;
  width: 17em;
  margin: auto;
  padding: .5em;
}

#intro {
  margin: 5em auto;
  text-align: justify;
}

#intro, #error {
  margin-bottom: 1em;
}

#logintoggle {
  display: block;
  width: 12em;
  margin: 1em auto;
  padding: .5em;
}

form#login {
  margin-top: 3em;
}

/* Post form styles */

textarea {
  font-size: 13pt;
  display: block;
  width: 50em;
  height: 15em;
  margin: .5em auto;
  clear: both;
}

legend[for="content"] {
  display: none;
  clear: both;
  padding-bottom: 40px;
}

legend[for='title'] {
  width: 3em;
}

input[name='title'] {
  width: 47em;
}

fieldset.post {
  width: 52em;
}

.wmd-preview *:first-child {
  margin-top: .1em;
}

.wmd-preview ul {
  list-style: disc;
}

.wmd-preview *:last-child {
  margin-bottom: .1em;
}

#postmenu {
  width: 52em;
  margin: 1em auto;
}

#postlist {
  width: 52em;
  margin: 1em auto;
}

#postlist {
  text-align: center;
}

#postlist .title {
  text-align: left;
}
