<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @source_string.text %>
</p>

<%= link_to 'Edit', edit_source_string_path(@source_string) %> |
<%= link_to 'Back', source_strings_path %>
