@font-face {
  font-family: Bastavar;
  src: local(Bastavar), url('/Bastavar.woff') type(woff);
}

:root {
  font-family: Bastavar, Arial, Helvetica, sans-serif;
}

dialog {
  transition: display, opacity, overlay, translate;
  transition-behavior: allow-discrete;
  transition-duration: 0.5s;
  translate: 0 3rem;
  opacity: 0;

  &::backdrop {
    backdrop-filter: blur(3px);
    opacity: 0;
  }

  &[open] {
    opacity: 1;
    translate: 0 0;

    &::backdrop {
      opacity: 1;
    }

    @starting-style {
      opacity: 0;
      translate: 0 -3rem;

      &::backdrop {
        opacity: 0;
      }
    }
  }
}

dialog.wide {
  width: min(100%, calc(max-content + 10%));
}

div.spacer {
  display: inline-block;
  flex-grow: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1em;
}

legend {
  margin-inline-start: min(3vw, 10%);
}

form {
  & menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0;
    margin-block-start: 1rem;
  }
}

.adder {
  & menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0;
    margin-block-start: 1rem;
  }
}

button:disabled {
  background-color: light-dark(#9995, #6665);
}