.ant-select-dropdown {
  text-align: left;
}

.ant-select-auto-complete {
  input {
    height: 3ex ! important;
  }

  .ant-select-selection__placeholder {
    height: auto;
    line-height: inherit;
    margin-top: .1ex;
  }
}
